.button {
    padding: 15px 40px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: all .4s;
}

.button.primary {
    background-color: rgba(255, 90, 48, 1);
    border: none;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
}
.button.primary:hover{
    background-color: rgb(235, 61, 18, 1);
}
.button.primary a{
    color: #fff;
    text-transform: uppercase;
}

.button.secondary {
    border-radius: 4px;
    border: 1px solid rgba(255, 90, 48, 1);
    background-color: transparent;
    /* color: rgba(255, 90, 48, 1); */
}

.button.secondary:hover{
        background-color: rgb(235, 61, 18, 1);
        border: none;
        color: #00ff0d;
        border-radius: 4px;
}
.button.secondary:hover a {
    color:#fff;
}

.button.main {
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}