@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('./home.module.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --color-white: white;
  --color-primary: rgba(255, 90, 48, 1);
  --shadow-bg-card: box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
                    box-shadow: 0px 12px 10px -6px rgba(154, 156, 165, 0.04);
                    box-shadow: 0px 30px 24px -10px rgba(154, 156, 165, 0.05);
                    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

a {
  text-decoration: none;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.button {
  padding: 15px 40px;
  font-weight: 700;
  font-size: 16px;
}

.button.primary {
  background-color: rgba(255, 90, 48, 1);
  border: none;
  color: #fff;
  border-radius: 4px;
}

.button.secondary {
  border-radius: 4px;
  border: 1px solid rgba(255, 90, 48, 1);
  background-color: transparent;
  color: rgba(255, 90, 48, 1);
}

.button.main {
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

li {
  list-style: none;
}